@import '../../css/variables.css';

.gnome-card {
  border: 0.7px solid #aaaa;
  border-radius: .1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
}

.gnome-card .gnome-card-header:not([data-background-color]) {
  background-color: transparent;
}

.gnome-card .gnome-card-header {
  padding: 15px 15px 0;
  border: 0;
  color: $gray;
}

.gnome-card-chart .gnome-card-header .gnome-card-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 25px;
}

.gnome-card-body {
 padding: 10px 1px 1px 1px;
 border: 0;
}

.gnome-card-chart .chart-area {
  height: 190px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  padding: 25px;
}

.gnome-card-data {
  text-align: center;
  font-size: 60px;
  color: #949ea5;
}

.gnome-card-footer {
  margin-top: 5px;
}

.info {
  text-align: center;
}