.PostPage-title {
  font-size: 22px;
  text-transform: capitalize;
}

.card {
  border: 0;
  border-radius: .1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
}

.card .card-header:not([data-background-color]) {
  background-color: transparent;
}

.card .card-header {
  padding: 15px 15px 0;
  border: 0;
}

.card-title {
  text-align: center;
  border-bottom: 1px solid #dcd5d5;
}

.card-chart .card-header .card-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 36px;
}

.card .card-body {
  padding: 15px 15px 10px;
}

.card-chart .chart-area {
  height: 190px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  padding: 25px;
}

.card-data {
  text-align: center;
  font-size: 60px;
  color: #949ea5;
}

.stats {
  margin: 0 25%;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

label {
  padding: 10;
  color: #818281;
}

.left {
  
 
  margin-right: 20%;

}